@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --text: #636363;
    --paragraph: "Inter", sans-serif;
    --judul: "Outfit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph);
    background-color: #fdf7ec;
    color: #333;
    margin: 0;
    height: 100hv;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    padding: 20px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-text {
    max-width: 600px;
}

.hero-text p {
    margin-bottom: 20px;
    font-size: 18px;
}

.hero-text h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #444;
    font-family: var(--judul);
}

.hero-text button {
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.hero-text button:hover {
    background-color: #555;
}

.hero-image img {
    width: 400px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        width: 300px;
    }
}