header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-img {
    width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #333;
    transition: width 0.3s;
    left: 0;
    bottom: 0;
}

nav a:hover::after {
    width: 100%;
    transition: width 0.3s;
}

nav a.active,
nav a.active::after {
    color: #000;
    font-weight: bolder;
    width: 100%;
    transition: width 0.3s;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.sign-in,
.get-started {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.sign-in a {
    text-decoration: none;
    background-color: transparent;
    color: #333;
}

.sign-in {
    background-color: transparent;
    color: #333;
}

.get-started {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.get-started a {
    text-decoration: none;
    color: #fff;
}

.get-started:hover {
    background-color: #555;
}